.text1
{
	font-size: 29px;
	color:red;
}
.text2
{
	font-size: 35px;
	color:orange;
	text-align: center;
}
.text3
{
	color:#ff0000;
}
#syntex
{
	text-align: center;
	font-size:22px;
	color:##231F20;
}
.jai
{
 	color: rgb(255, 216, 216);
 	font-size: 17px;
 	
 }
 body
 {
 	background-color: #008246;
 	background-image:url(./pic2.jpg);
 	background-repeat: no-repeat	;
 	background-position: top right;
 	background-attachment: fixed;
 }
